---
layout: layouts/base.njk
permalink: /
---

<p>My blog built with 11ty and Nunjucks.</p>
<p>Deployed via Netlify and Netlify CMS.</p>
<br>
Check out <a href="/posts/">all the posts</a>.
<br>
<br>
<p>Welcome!</p>